@import '../variables';

.navbar {
    background-color: $color-primary;
    border-bottom: $color-secondary 0.2rem solid;

    a.dropdown-toggle.nav-link {
        color: #fff;
    }
    a.dropdown-toggle.nav-link:hover {
        color: #212529;
    }

    .linkStyle {
        color:#000;
        text-decoration: none;
        padding-left: 0.625rem;

}
}